{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-center align-items-center" style="min-height:85vh;">

    <div class="card p-4 shadow-lg" style="width:100%; max-width:420px; border-radius:16px;">

        <h2 class="text-center mb-3 fw-bold">Create Account</h2>
        <p class="text-center text-muted mb-4">Join the marketplace</p>

        <!-- 🔥 SHOW ERRORS -->
        {% if form.errors %}
            <div class="alert alert-danger">
                {{ form.errors }}
            </div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">Username</label>
                {{ form.username }}
            </div>

            <div class="mb-3">
                <label class="form-label">Password</label>
                {{ form.password1 }}
            </div>

            <div class="mb-3">
                <label class="form-label">Confirm Password</label>
                {{ form.password2 }}
            </div>

            <button type="submit" class="btn btn-primary w-100 mt-2">
                Register
            </button>
        </form>

        <p class="text-center mt-3">
            Already have an account? 
            <a href="/accounts/login/">Login</a>
        </p>

    </div>

</div>

{% endblock %}